@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

.code-font {
  font-family: 'JetBrains Mono', monospace;
}
